<div class="container-fluid bg-dark">
  <div class="container-md bg-light rounded-pill" style="--bs-bg-opacity: .5;">
    <!-- <form (ngSubmit)="onSubmit(formAnalyze)" #formAnalyze="ngForm"> -->
      <!-- <div class="col-md-4">
        <label for="inputState" class="form-label">Classe</label>
        <select id="inputState" class="form-select"name="name" [(ngModel)]="analyzeModel.Sex">
          <option selected value="[1,2,3,4]"></option>
          <option>...</option>
        </select>
      </div> -->
      <!-- <button [disabled]="formAnalyze.invalid" type="submit" class="btn btn-primary m-3">Submit</button> -->
    <!-- </form> -->

    <button type="button" class="btn btn-primary">Primary</button>
  </div>
</div>
{{ analyzeModel | json }}
